html{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    margin: auto;
    background-color: #009dff;
    font-family: 'Montserrat', sans-serif;
    color: #fff !important;
}

.navbar .navbar-brand{
    font-size: 2rem;
}
.navbar img{
    width: 50px;
}

.navbar-dark .navbar-nav .nav-link, .dropdown-item{
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover{
    background-color: #fff;
    color: #000000;
}

.navbar-nav .dropdown-menu{
    background: none !important;    
}

@media(max-width:576px){
    h1{
        font-size:3rem !important;
    }

}

@media(max-width:768px){
    .first{
        order:1 !important;
    }
    .second{
        order:2 !important;
    }
    #hero .lead{
        text-align: center;
    }
}